extends layout

block content
  h1= title
  p Welcome to #{title}  
  form(action="/new-game")
    input(type="submit" value="New Game")    
  form(action="/join-game")
    input(type="submit" value="Join Game")
  #top-panel
  #game-board
